# Dependencies
node_modules/
backend/node_modules/
/.pnp
.pnp.js
bun.lockb

# Testing
/coverage

# Production
/dist
/build

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.envv.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Misc
.cache
.temp
*.tsbuildinfo

# Google Cloud
.gcloud/

# OS
Thumbs.db
/ONLY_REF_DO_NOT_EDIT_asgn3
/_ONLY_REF_
